.App {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.board {
  background-color:  rgb(13, 58, 110);
  padding: 10px;
}
.cell {
  border: 1px solid black;
  display: inline-block;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background-color:rgb(210, 220, 224);
}
.cell.blue {
  background-color: rgb(24, 184, 224);
}

.cell.red {
  background-color: rgb(209, 65, 144);
}
.cell.yellow {
  background-color: rgb(245, 245, 171);
}
.player-box {
  justify-content: center;
  margin-bottom: 10px;
  font-size: 24px;
}
.player-box.red {
background-color: rgb(209, 65, 144);
color: black
}
.player-box.blue {
  color: black;
  background-color: rgb(24, 184, 224);
}
.winner-name.red {
color: rgb(209, 65, 144);
}
.winner-name.blue {
  color: rgb(24, 184, 224);
}
.restart-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 150px;
  margin: auto;
  background: rgb(29, 51, 87);
  border-radius: 5px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.restart-form .restart-button {
  display: flex;
  justify-content: center;
 }
 
 .restart-form button {
   cursor: pointer;
   border: none;
   background:rgb(47, 101, 172);
   width: 80px;
   height: 35px;
   margin: 13px 20px;
   border-radius: 3px;
   opacity: 0.9;
   /* box-shadow: 2px 2px rgba(0, 0, 0, 0.3); */
   color: #5ec6f0 ;
   font-size: 16px;
 }
 .restart-form button:hover{
   opacity: 1;
   color: white;
 }

